<!--
<div ng-include="'header.html'"></div>
<div id="level2">
  <div id="1" ng-if="::foo">YES</div>
  <div id="2" ng-if="::bar">NO</div>
  <div id="3" ng-class="::{foo:c-foo, bar:c-bar}"></div>
  <div id="4">{{::fuz}}</div>
  <div ng-repeat="el in ::collection" id="id{{::el}}">{{::el}}</div>
</div>
<div ng-include="'footer.html'"></div>
-->
<h3> {{::name}} {{::ngdoc}} </h3>
<a href="">source</a>

<h4>Dependencies</h4>
<ul>
  <li ng-repeat="service in ::requires">{{::service.module}}</li>
</ul>

<h4>Properties</h4>
<ul>
  <li ng-repeat="prop in ::properties">
    <b>{{::prop.name}}</b> {{prop.description}}
  </li>
</ul>

<!--
{{::prettyJson}}
-->
