<html>
  <head>
    <base href="../" />
    <title>JSDoc: <%= ngdoc %>: <%= longname %></title>
    <link type="text/css" rel="stylesheet" href="css/jsdoc-default.css" />
    <link href="css/prettify-tomorrow.css" type="text/css" rel="stylesheet" />
    <script src="js/prettify.js"></script>
  </head>
  <body>
    <div id="main">
      <h1 class="page-title">Source: <%= path.replace(/^.*\//,'') %></h1>
      <article>
        <pre class="prettyprint source linenums"><code><%= code %></code></pre>
      </article>
    </div>
    <script>
      prettyPrint();
      var lineNo = window.location.hash.match(/([0-9]*)$/)[0] || 1;
      document.querySelector("ol li:nth-child("+(lineNo||1)+")").scrollIntoView();
    </script>
  </body>
</html>
